---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

[1] American Geophysical Union (AGU) 2023, Dec. 11-15, 2023, San Francisco, USA.<br>
<img src="/images/AGU.jpg" width="250" height="200"> <img src="/images/AGU2.jpg" width="250" height="200"> <img src="/images/AGU3.jpg" width="250" height="200"> <br>
[2] European Geothermal Congress (EGC) 2025, Oct. 6-10, 2025, Zurich, Switzerland.<br>
<img src="/images/EGC3.jpg" width="250" height="200"> <img src="/images/EGC.jpg" width="250" height="200"> <img src="/images/EGC2.jpg" width="250" height="166">  

